html{
    background-color: cornflowerblue;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    width:100%;
    text-align: center;
    background-color: darkblue;
    color: white;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgb(0 0 0 / 0.4);
    
}
h1{
    font-size: 48px;
}

h2{
    font-size: 36px;
    
}
h3{
    font-size: 30px;
}
h4{
    font-size: 24px;
}

aside{
    display: inline-block;
    text-align: center;
    min-width:300px;
    background-color: lightgrey;
    flex-grow: 1;
    border-radius: 5px;
    border-style: solid;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
    
    
}
main{
    margin-left:5px;
}
main h2{
    font-size: 36px;
    background-color: grey;
    width:fit-content;
    border-radius: 5px;
    border-style: solid;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
    padding:5px;
}
.container{
    display:flex;
    
}

#searchInput{
    width:95%;
    height:40px;
    border-radius: 5px;
    font-size: 18pt;
}
#searchButton{
    border-radius: 5px;
    background-color: darkblue;
    color:white;
    width:95%;
    font-size: 24px;
    box-shadow: 0 10px 10px rgb(0 0 0 / 0.4);
    
}
#searchButton:hover{
    opacity: 60%;
}
.button{
    text-align: center;
    background-color: cornflowerblue;
    color:white;
    border-radius: 5px;
    width:95%;
    font-size: 16pt;
    margin:10px;
    box-shadow: 0 10px 10px rgb(0 0 0 / 0.5);
    
}

.button:hover{
    opacity: 45%;
}
.forecast{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.current{
    border-style: solid;
    background-color: lightgray;
    border-color: black;
    border-width: 3px;
    border-radius: 5px;
    font-size: 24px;
    padding: 10px;
    min-height: 200px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}
.forecastDisplay{
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
    background-color: grey;
    font-size: 16pt;
    border-radius: 5px;
    width: fit-content;
    height:fit-content;
    margin-left: 8px;
    padding:10px;
    border-style: solid;
    border-width: 2px;
    min-height: 150px;
    min-width:200px;

}
#cityList{
    padding:10px;
}

.clear{
    margin: 5px;
    font-size: 15px;
    width:40%;
    background-color: darkgray;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgb(0 0 0 / 0.4);
}
.clear:hover{
    opacity: 60%;
}

#currentCity{

    font-size: 36pt;
    
}

