html{
    background-color: cornflowerblue;
}
nav{
    width:100%;
    text-align: center;
    background-color: darkblue;
    color: white;
    border-radius: 5px;
}
h1{
    font-size: 48px;
}

h2{
    font-size: 36px;
}

aside{
    display: inline-block;
    text-align: center;
    min-width:300px;
    background-color: lightgrey;
    flex-grow: 1;
    border-radius: 5px;
    
}
main{
    margin:5px;
}
.container{
    display:flex;
    
}

#searchInput{
    width:95%;
    height:40px;
    border-radius: 5px;
}
#searchButton{
    border-radius: 5px;
    background-color: darkblue;
    color:white;
    width:95%;
    font-size: 24px;
    
}
.button{
    text-align: center;
    background-color: cornflowerblue;
    color:white;
    border-radius: 5px;
    width:95%;
    font-size: 20pt;
    margin:10px;
    
}
.forecast{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.current{
    border-style: solid;
    background-color: lightgray;
    border-color: black;
    border-width: 3px;
    border-radius: 5px;
    font-size: 24px;
    padding:10px;
    min-height: 200px;
}
.forecastDisplay{
    
    background-color: grey;
    border-radius: 5px;
    width: fit-content;
    height:fit-content;
    margin:5px;
    padding:10px;
    border-style: solid;
    border-width: 1px;
}
#cityList{
    padding:10px;
}

.clear{
    margin: 5px;
    font-size: 15px;
    width:60%;
    background-color: azure;
    border-radius: 5px;
}

#currentCity{

    font-size: 36pt;
    
}